:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Volledige hoogte */
  width: 220px; /* Sidebar breedte */
  background-color: #333333;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.navbar a {
  color: #ccc;
  text-decoration: none;
  padding: 12px 8px;
  font-weight: 500;
  border-radius: 4px;
  margin-bottom: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover,
.navbar a.active {
  background-color: #535bf2; 
  color: white;
}

.main-content {
   flex: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: inherit;
  color: inherit;
}

.centered-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  /* lichte navbar */
  .navbar {
    background-color: #f0f0f0;
  }
  .navbar a {
    color: #444;
  }
  .navbar a:hover,
  .navbar a.active {
    background-color: #747bff;
    color: white;
  }
}
